<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:util="http://www.springframework.org/schema/util"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
        http://www.springframework.org/schema/cache
        http://www.springframework.org/schema/cache/spring-cache-4.3.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-4.3.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
        http://www.springframework.org/schema/util
        http://www.springframework.org/schema/util/spring-util-4.3.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx-4.3.xsd">

    <aop:aspectj-autoproxy />
    <context:component-scan base-package="com.**.home.service.**">
        <context:include-filter type="annotation" expression="org.aspectj.lang.annotation.Aspect" />
    </context:component-scan>
    <context:component-scan base-package="com.**.home.dao.**" />
    
    <bean class="org.springframework.context.annotation.CommonAnnotationBeanPostProcessor" />
    
    <bean class="org.springframework.web.servlet.mvc.SimpleControllerHandlerAdapter"/>

    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
           <list>
                <value>classpath:jdbc.properties</value>
           </list>
        </property>
    </bean>

    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
        <property name="driverClass" value="${master.jdbc.driverClassName}"></property>
        <property name="jdbcUrl" value="${master.jdbc.url}"></property>
        <property name="user" value="${master.jdbc.username}"></property>
        <property name="password" value="${master.jdbc.password}"></property>
        <property name="maxPoolSize" value="${master.jdbc.maxPoolSize}" />
        <property name="minPoolSize" value="${master.jdbc.minPoolSize}" />
        <property name="acquireIncrement" value="${master.jdbc.acquireIncrement}" />
        <property name="initialPoolSize" value="${master.jdbc.initialPoolSize}"></property>
        <property name="testConnectionOnCheckout" value="${master.jdbc.testConnectionOnCheckout}"></property>
        <property name="idleConnectionTestPeriod" value="${master.jdbc.idleConnectionTestPeriod}"></property>
        <property name="preferredTestQuery" value="${master.jdbc.preferredTestQuery}"></property>
        <property name="maxIdleTime" value="${master.jdbc.maxIdleTime}"></property>
    </bean>
    
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <property name="typeAliasesPackage" value="com.zzuli.home.model"></property>
        <property name="mapperLocations" value="classpath*:com/zzuli/home/model/*Mapper.xml" />
    </bean>

    <bean id="sqlSessionTemplate" class="org.mybatis.spring.SqlSessionTemplate">
        <constructor-arg index="0" ref="sqlSessionFactory" />
    </bean>

</beans>
