html {
  font-family: 'Arial', 'Microsoft YaHei';
}

body {
  margin: 0;
  padding: 0; 
}

.wrap {
  height: 100%;
  width: 95%;
  background-color: #ededed;
  overflow: hidden;
  margin: 0 auto;
  margin-top: 20px;
  border-radius: 4px;
}

.main-top {
  height: 60%;
  background-color: #1ab496;
}

.button-style {
  width: 92px;
  height: 32px;
}

.login-window {
  height: 60px;
  text-align: center;
  padding-top: 20px;
  background-color: #222;
  color: white;
  font-size: 28px;
}

.right {
  min-height: 400px;
  width: 49%;
  float: right;
}

.left {
  min-height: 400px;
  width: 50%;
  float: left;
}